.menu-btn{
  vertical-align: middle;
  background: white;
  border:0px;
  border-radius: 0px;
  color: #000;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);

}
.rem-dot{
  list-style: none;
}
.inline-block{
  display: inline-block;
}
.left-tab{
  margin-top: 110px;
}
.new-product-tab{
  padding: 20px;
}
.list-group-item{
  border:0px;
}
.new-product{
  padding: 30px 15px 30px 15px; 
}
.fff{
      box-shadow: 0px 1px 23px -6px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
}
.anchor{
  height: inherit !important;
  width: inherit !important;
}
.category-frontheader{
  background-image: url("../img/slider/allc.png") !important;
}
.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  color: lightslategray;
}

.btn--border {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.mt-15{
  margin-top: 10px;
}
.text-danger{
  padding: 15px;
}
.btn--animated {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.btn--animated.btn--border.btn--primary {
  border: 1px solid lightslategray;
}
.btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}
.checkout-btn{
      margin-bottom: 40px;
    padding-bottom: 40px;
}
.upper-head{
  background-image: url("../img/slider/right.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
.cart-section{
  margin-top: 147px;
  padding-left: 0px;
  padding-right: 0px;
}
.pad-lf-25{
  padding-left: 25px;
  padding-right: 25px;
}
.btn--animated:hover {
  color: white;
}
.btn--animated:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
          transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}
.input-btn{
   vertical-align: middle;
  background: white;
  border:0px;
  border-radius: 0px;
  color: #000;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
}
.brand-category-image{
      height: 110px;
    width: 100%;
}
.contact{
  margin-bottom: 0px !important;
  padding-top: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
html {
  font-size: 16px;
}

.product-slider-inner {
  margin: auto;
  width: 90%;
}

.carousel-control {
  width: 4%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top: -10px;
  margin-left: -10px;
  color: #444;
}

.carousel-inner a {
  display: table-cell;
  height: 180px;
  vertical-align: middle;
}
.slider-img {
  max-height: 150px;
  margin: auto auto;
  max-width: 100%;
}

@media (max-width: 767px) {
  .product-slider-inner > .item.next,
  .product-slider-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  .product-slider-inner > .item.prev,
  .product-slider-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .product-slider-inner > .item.next,
  .product-slider-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }

  .product-slider-inner > .item.prev,
  .product-slider-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px) {
  .product-slider-inner > .item.next,
  .product-slider-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(16.7%, 0, 0);
    transform: translate3d(16.7%, 0, 0);
  }

  .product-slider-inner > .item.prev,
  .product-slider-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-16.7%, 0, 0);
    transform: translate3d(-16.7%, 0, 0);
  }
}

.padding-b-100{
  padding-bottom: 100px;
}
.category-box{
  padding: 8px;
}
.cate-head{
  text-align: center;
      background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 13px
}
.box{
     height: 200px;
    padding-top: 50px;
}
.cate-frontheader{
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
    margin-top: -130px;
    padding: 15px;
    background-color: white;
}
.box-shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);

}
.price-tab{
  padding: 15px;
    padding-bottom: 27px;
}
.left-align{
  text-align: left;
}
.padding-tb-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.brand-tabs{
  padding: 3px 3px; 
}
.brand-row{
  margin-left: 0px;
  margin-right: 0px;
}
.insta-pic{
  height: 72px;
}
.padding-tb-50{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.right-align{
  text-align: right;
}
.new-items{
  padding-right: 15px !important;
  margin-bottom: 15px;
}
.new-items-inner{
  padding: 90px 22px 31px 20px;
  border-radius: 10px;
  background-size: contain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
}
.new-item-head{
  text-align: left;
  color: #ffffff;
  padding: 15px 10px;
  background-color: rgba(0,0,0,0.5);
}
.slider-box{
  padding: 30px;
  padding-left: 80px;
}
.deal-head{
   padding:15px 1px;
   color: white;
}
.margin-t-30{
  margin-top: 30px;
}
.new-product-tab{
  background-color: #ffffff;
}
.border-radius-shadow{
  border-radius: 10px;
}
.slider-box-inner{
  background-color: white;
  box-shadow: 0 0px 18px rgba(0, 0, 0, 0.35), 0 6px 30px rgba(0, 0, 0, 0.23);
}
.cart-product-tab{
      padding: 12px;
      margin-top: 15px;
      background-color: white;
    border-radius: 3px;
    box-shadow: 0 0px 18px #9C27B0, 0 6px 30px rgba(0, 0, 0, 0.23);
}

#slider-item{
    padding: 20px 70px;
}
.counter{
  padding:15px 1px;
}
.padding-l-10{
  padding-left: 10px;
}
.new-items-img{
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);

}
.margin-t-0{
  margin-top: 0px;
}

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}


.quantity{
  width: 35%;
}
.product-slider{
  height: 410px;
}
.feature-product-slider{
  height: 290px;
}
.shop-by-cate-tab{
  padding: 10px 8px;
}
p{
  font-size: 14px;
}
.shop-cate-tab{
  background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
    padding-top: 15px;
    
}
.featured-head{
  display: inline-block;
}

.slider-controls{
  margin-top: 15px;
}
.products-tab{
  background-color: red;
}
.view-more{
  padding: 10px 5px;
}
.category-col{
  background-color: floralwhite; 
  padding: 15px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
}
.line{
  padding-top: 40px;
  text-align: center;
}
.search-input{
  margin-left: -1px;
  margin-top: 1px;
}
.cd-auto-hide-header .pull-right{
  padding: 3px;
}
.margin-t-15{
  margin-top: 15px;
}
.block-display{
  display: block;
}
.main-slider{
  height: 300px;
  margin-top: 90px;
}
.padding-tb-30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.text-right{
  text-align: right;
}
.margin-tb-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer{
  background: #2c3e50;
  color: #ffffff;
}

.all-category-tab{
  padding:40px 20px;
}
.no-padding-lf{
  padding-left: 0px;
  padding-right: 0px;
}
.no-padding-lf{
  padding-left: 0px;
  padding-right: 0px;
}
.no-margin-lf{
  margin-left: 0px;
  margin-right: 0px;
}
.backheader{
  height: 280px;
  background-image: url(../img/slider/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.padding-l-10{
  padding-left: 10px;
}
.padding-25-15{
  padding: 25px 15px;
}
.sidebar{
    position: fixed;
    background-color: skyblue;
    z-index: 99;
    top: 0px; 
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
    
}
.thumb{
  margin-bottom: 10px;
}
.thumbnail{
  height: 270px;
  border: 0px;
  padding: 0px;
  border-radius: 10px;
}
.thumbnails{
  padding-left: 0px;
}
.all-p-frontheader{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
  margin-top: -130px;
  padding: 25px 15px 28px 15px;
  background-color: #ffffff;
}
.frontheader{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
  margin-top: -130px;
  padding: 40px 25px 78px 25px;
  background-image:url("../img/slider/allp.png");
  height: 365px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pad-bot-25{
  padding-bottom: 25px;
}
.pad-bot-15{
  padding-bottom: 15px;
}
.left-pad-0{
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 30px;
  padding-bottom: 15px;

}
.category-menu{
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
}
.product-inner{
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
 padding: 30px 10px;
}
.filter-tag{
  background-color: white;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23); 
}
.padding-t-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.description-tab{
  padding: 40px;
  background-color: white;
  margin-top: 50px;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  color: #25283D;
  background-color: azure;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8F3985;
  text-decoration: none;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: cyan;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 31px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8F3985;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}


/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
  
.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow: hidden;
}
.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}
.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  opacity: .6;
  line-height: 50px;
  padding: 0 1em;
}
.cd-secondary-nav a:hover, .cd-secondary-nav a.active {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 80px;
    padding: 15px 0px;
    overflow: visible;
  }
  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
        .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #8F3985;
  }
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
.cd-secondary-nav.fixed {
  position: fixed;
  top: 60px;
}
.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }
  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main-content {
  overflow: hidden;
}
.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
}
.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}
.cd-main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 2em auto;
  font-family: "David Libre", serif;
  color: #a5a8a9;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content {
  }
  .cd-main-content.sub-nav {
  }
  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }
  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* -------------------------------- 

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 60px;
  height: 300px;
  background: url(../img/cd-hero-background.jpg) no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 400px;
  }
  .menu-btn{
    padding: 10px 13px;
  }

}
@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 600px;
    margin-top: 80px;
  }
   .main-slider{
  height: 490px;
}
.line{
  padding-left: 50px;
}
.first-tab{
   margin-left: 6.333333%;
}
.navbar-cart-btn {
    display: inline-block !important;
    color: #000 !important;
    line-height: 0px !important;
    padding: 13px !important;
}
}

.padding-tb-40{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.padding-tb-15{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;  
}
.width-14{
  width: 14.666667%;
}
/*responsive design media query*/
@media only screen and (min-width: 1401px){
  .frontheader{
    .height: 365px;
  }
  .main-carousel-caption{
    top: 0px;
  }
   .first{
    margin-top: 60px;
    color: #ffffff;
  }
  .second{
    font-size:90px;
    color: #ffffff; 
    margin-bottom: 0px;
  }
  .third{
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 60px;

  }  .navbar-cart-btn{
  display: inline-block !important;
    color: #000 !important;
    line-height: 0px !important;
    padding: 13px !important;
}

  .third{
    margin-top: 
  }

  
}


/* Large desktop */
@media only screen and (min-width: 1200px) and (max-width: 1400px) { 
   .pad-5-lf{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
     .first{
    margin-top: 60px;
    color: #ffffff;
  }
  .second{
    font-size:90px;
    color: #ffffff; 
    margin-bottom: 0px;
  }
  .third{
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 60px;

  }
.navbar-cart-btn{
  display: inline-block !important;
    color: #000 !important;
    line-height: 0px !important;
    padding: 13px !important;
}

  .pullleft{
    float: left;
  }
  .main-carousel-caption{
    top: 0px;
  }
  .frontheader{
    height: 325px;
  }
  .main-carousel-inner{
    height: 500px;
  }
  .main-carousel-caption{
    top: 0px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 769px) and (max-width: 979px) { 
  .main-slider{
    height: 425px;
  }
  .all-category-tab{
    padding:40px 33px;
  }
  .navbar-cart-btn{
  display: inline-block !important;
    color: #000 !important;
    line-height: 0px !important;
    padding: 13px !important;
}


}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 768px) {
  .textcenter{
    text-align: center;
  }
  .padding-lf-15{
    padding-left: 15px;
    padding-right: 15px;
  }
     .first{
    padding-top: 60px;
    color: #ffffff;
    margin-top: 0px;
  }
  .second{
    font-size:90px;
    color: #ffffff; 
    margin-bottom: 0px;
  }
  .third{
    color: #ffffff;
    margin-top: 0px;
    padding-bottom: 60px;

  }
  .cart-section{
  margin-top: 190px;
  }

  .no-pad-bottom{
    padding-bottom: 0px !important;
  }
  .no-pad-top{
    padding-top: 0px !important;
  }
  .cd-secondary-nav {
    height: 70px;
    padding: 15px 0px;
  }
  .padding-tb-40-xs{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 75px;
  }
  .main-slider {
    height: 510px;
    margin-top: 170px;
  }
  .product-slider {
    height: 610px;
  }
  .counter{
    padding-top: 35px;  
  }
  .new-items {
    padding-right: 5px !important;
    padding-left:  5px !important;
  }
  .footer-heads{
    text-align: left;

  }
  .pad-5-lf{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .insta-pic{
  height: 180px;
}
.thumbnail{
  height: 150px;
}

  .main-carousel-caption{
    top: -15px;
    left: 8%;
    right: 8%;
  }
  .second-img{
    height: 362px;
  }
  .left-tab{
    margin-top: 70px;
  }
  .pad-lf-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .backheader{
    height: 366px;
  }
  .frontheader{
    height: 198px;
  }
  .navbar-cart-btn{
  display: inline-block !important;
    color: #000 !important;
    line-height: 0px !important;
    padding: 13px !important;
}

}

.carousel-caption{
  top: 0px;
} 
/* Landscape phones and down */
@media only screen and (max-width: 480px) {
  .textcenter{
    text-align: left;
  }
  .main-slider{
  height: 350px;
  margin-top: 0px;
}
.new-items-inner {
    padding: 110px 22px 110px 20px;
}
.main-slider-img{
  height: 350px !important;
}    
.upper-head{
  margin-top: -20px;
}
   .first{
    margin-top: 20px;
    padding-top: 60px;
    color: #ffffff;
  }
  .second{
    font-size:90px;
    color: #ffffff; 
    margin-bottom: 0px;
  }
  .third{
    color: #ffffff;
    margin-top: 0px;
    padding-bottom: 60px;

  }
.navbar-cart-btn-xs{
  display: inline-block !important;
  color: #000 !important;
  line-height: 0px !important;
  padding: 16px !important;
}
  .brand-slider{
    height: inherit;
  }
  .no-pad-lf{
    padding-left: 0px;
    padding-right: 0px;
  }
  .frontheader{
    padding: 5px;
    width: 91.333333%;
    margin-left: 4.333333%;
  }
  .padding-t-40{
    padding-top:15px;
    padding-bottom: 15px; 
  }
  .menu-btn{
    padding: 12px 17px;
  }
  .mobile-nav-container{
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  z-index: 99;
  background-color: cornflowerblue;
  padding-left: 5px;
}
.cart-section{
  margin-top: 0px;
}

.mobile-logo{
  padding: 25px;
  background: white;
  margin-top: 66px;
  margin-left: 0px;
  margin-right: 0px;
}
.mobile-nav{
  width: 20.0009%;
}
.pad-5{
  padding: 5px;
}
.feature-list{
  padding: 0px;
}
.slider-box {
    padding: 5px;
}
#slider-item {
    padding: 5px 12px;
}
.product-slider {
    height: 550px;
  }
.xs-pad{
  padding: 15px;
}
  .insta-pic{
  height: 80px;
}
  .main-carousel-caption{
    top: 0px;
  }
.second-img {
    height: 195px;
}
.margin-t-30{
  margin-top: 10px;
}  
.backheader{
  height: 155px;
}
.font-12{
  font-size: 12px;
}
.left-tab{
    margin-top: 0px;
  }
  .font-24{
    font-size: 24px;
  }
    .frontheader{
    height: 106px;
  }


  .font-14{
    font-size: 14px;
  }
  .pad-lf-25 {
   padding-left: 0px;
   padding-right: 0px;
   margin-left: 0px;
   margin-right: 0px;
}

}

@media only screen and (max-width: 320px) {
 .mobile-nav-container{
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  z-index: 99;
  background-color: cornflowerblue;
  padding-left: 0px;

}
.mobile-nav{
  width: 19.0009%;
}

.mobile-logo{
  padding: 25px;
  background: white;
  margin-top: 66px;
  margin-left: 0px;
  margin-right: 0px;
}
  .insta-pic{
  height: 57px;
}

}

/*button css*/

