  body {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
  }
  select{
    text-align: center;
  }
  option{
    text-align: center;
    background-color: coral;
    padding: 15px;
  }
  .text-success{
    padding: 15px;
  }
  .info-btn{
    background-color: rgba(0,0,0,0.5) !important;
  }

  .error-tab{
    background: rgba(0,0,0,0.3);
    padding: 15px;
  }
  .black-tr{
    background-color: rgba(0,0,0,0.5);
  }
  .coral-tr{
    background-color: rgba(255,127,80,0.5);
  }
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
  .footer{
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
  }
  .margin-tb-5{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main-container{
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
  }
  .form-control{
    color: #fff;
  }
  .login-form{
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 80px;
}

  .input-center{
    text-align: center;
  }
   .modal-content {
    background-color: brown;
  }
  .form-group input[type=file]{
    opacity: 1;
    position: relative;
  }

thead{
  background-color: rgba(255, 87, 34, 0.53);
  border-radius: 5px;
}
table{
  border-radius: 5px;
}
th{
  border-bottom-width: 0.5px !important;
  font-weight: normal;
}
.user-form{
  display: none;
}
td{
  border-top: 0.5px !important;
}
.margin-t-0{
  margin-top: 0px;
}
.product-insert-form{
  display: none;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: transparent;
}
.glyphicon{
  color: #ffffff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand{
  color: #ffffff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: yellow;
}

  .navbar, .navbar.navbar-default {
    background-color: rgba(0,0,0,0.3);
  }

  #banner {
    border-bottom: none
  }

    .page-header h1 {
      font-size: 4em
    }

    .bs-docs-section {
      margin-top: 8em
    }

    .bs-component {
      position: relative
    }

    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block
    }

    .bs-component .modal-dialog {
      width: 90%
    }

    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px
    }

    #source-button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      font-weight: bold;
      padding: 5px 10px;
    }

    .progress {
      margin-bottom: 10px
    }

    footer {
      margin: 15px 0
    }

    footer li {
      float: left;
      margin-right: 1.5em;
      margin-bottom: 1.5em
    }

    footer p {
      clear: left;
      margin-bottom: 0
    }

    .splash {
      padding: 4em 0 0;
      background-color: #141d27;
      color: #fff;
      text-align: center
    }

    .splash h1 {
      font-size: 4em
    }

    .splash #social {
      margin: 2em 0
    }

    .splash .alert {
      margin: 2em 0
    }

    .section-tout {
      padding: 4em 0 3em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      background-color: #eaf1f1
    }

    .section-tout .fa {
      margin-right: .5em
    }

    .section-tout p {
      margin-bottom: 3em
    }

    .section-preview {
      padding: 4em 0 4em
    }

    .section-preview .preview {
      margin-bottom: 4em;
      background-color: #eaf1f1
    }   

    .section-preview .preview .image {
      position: relative
    }

    .section-preview .preview .image:before {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      pointer-events: none
    }

    .section-preview .preview .options {
      padding: 1em 2em 2em;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-top: none;
      text-align: center
    }

    .section-preview .preview .options p {
      margin-bottom: 2em
    }

    .section-preview .dropdown-menu {
      text-align: left
    }

    .section-preview .lead {
      margin-bottom: 2em
    }

    @media (max-width: 767px) {
      .section-preview .image img {
        width: 100%
      }
    }

    .sponsor {
      text-align: center
    }

    .sponsor a:hover {
      text-decoration: none
    }

    @media (max-width: 767px) {
      #banner {
        margin-bottom: 2em;
        text-align: center
      }
    }

    .infobox .btn-sup {
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
    }

    .infobox .btn-sup img {
      opacity: 0.5;
      height: 30px;
    }

    .infobox .btn-sup span {
      padding-left: 10px;
      position: relative;
      top: 2px;
    }

    .icons-material .row {
      margin-bottom: 20px;
    }

    .icons-material .col-xs-2 {
      text-align: center;
    }

    .icons-material i {
      font-size: 34pt;
    }

    .icon-preview {
      display: inline-block;
      padding: 10px;
      margin: 10px;
      background: #D5D5D5;
      border-radius: 3px;
      cursor: pointer;
    }

    .icon-preview span {
      display: none;
      position: absolute;
      background: black;
      color: #EEE;
      padding: 5px 8px;
      font-size: 15px;
      border-radius: 2px;
      z-index: 10;
    }

    .icon-preview:hover i {
      color: #4285f4;
    }

    .icon-preview:hover span {
      display: block;
      cursor: text;
    }

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
  .no-pad-xs{
    padding-left: 0px;
    padding-right: 0px;
  }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px)
{
  .navbar .navbar-nav .dropdown .dropdown-toggle:after {
    content:''!important; 
  }
   .login-form{
    margin-top: 37px;
    margin-bottom: 39px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
  .container{
    width: 700px;
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle:after{
    content: '' !important;
  }
  .login-form{
    margin-top: 175px;
    margin-bottom: 266px;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
  .container{
    width: 910px;
  }
  .login-form{
      margin-top: 175px;
    margin-bottom: 266px;
}

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1400) { 
.container{
  width: 1200px;
  }

}

@media (min-width: 1401px){
 .container{
  width: 1360px;
  }
      .login-form{
    margin-top: 150px;
    margin-bottom: 145px}


}
.new-btn{
  padding-left: 17px !important;
  padding-right: 17px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.main-container{
  margin-top: 15px;
}
.mobile-sidebar{
  display: none;
  background: transparent;
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: transparent;
  top: 0px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  border-left: 3px solid #d19b3d;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
    height: 100%;
  }
}
